{% extends 'additional/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Advertising' %}{% endblock %}
{% block content %}
        <h3 class="mh32">Вы ищете клиентов? <br> а они ищут вас на Sell-n-Buy.</h3>
				<p style="text-align:center">Если Вы или Ваша компания заинтересована в максимально эффективной рекламе, нацеленной именно на Вашего потенциального клиента, то реклама на <br>
				Sell-n-Buy - это именно то, что Вам нужно.</p>
				<p style="text-align:center">Потенциальные клиенты узнают о Вашей компании в самый подходящий момент – когда они ищут на Sell-n-Buy товары и услуги, которые Вы предлагаете.</p>
				<a href="#" class="info-button-start">начать кампанию</a>
{% endblock %}