{% extends 'additional/base.html' %}
{% load i18n %}

{% block title %}{% trans 'For your business' %}{% endblock %}
{% block content %}
        <h3 class="mh32">ПРИНЦИПЫ</h3>
				<p>Предпринимательство и креативность – являются наиболее базовым и важными факторами бизнеса и роста всей нашей мировой экономики.</p>
				<p>Один из способов измерения ценности предпринимательства – посмотреть на влияние компаний в контексте фондового рынка и циркуляции всей мировой экономики.</p>
				<p>Самые передовые государства на протяжении уже многих тысячелетий извлекают пользу из общества, в котором поощряется предпринимательство и креативность. Это сердцевина  здорового общества.</p>
				<p>Создать любое дело из изначально лишь зародышевой концепции в голове – это ли не гений предпринимательства?</p>
				<p>Интернет всё больше и больше демократизирует инновации и уменьшает расходы. Любой может начать свой бизнес. <br>
				В цифровом мире, зависимость от толстой чековой книжки, для старта бизнеса, уменьшается. Вместо этого, для достижения успеха становится всё более важной интеллектуальный капитал, комунникационные составляющие и инновационные технологии.</p>
				<p>Все крупные компании начинали свой путь с чего-то незначительного.
				И всегда любому предпринимательству сопутствуют ошибки и неудачи. 
				Одни потерпят неудачу. Другие достигнут процветания. Так всегда было есть и будет. Так эволюционно устроена наша жизнь.</p>
				<p>Но, в конечном итоге, если у Вас есть интеллектуальный капитал и уверенность в вашем проекте, Вы уже имеете в собственных руках ключ к успеху.</p>
				<p>Интеллектуальный капитал всегда создаёт передовой высококлассный продукт на основе лишь концепции и идеи. <br>
				Предприниматели, особенно в секторе высоких технологий, завтра будут создавать и воплощать в реальность то, что вчера мы могли только вообразить в мечтах и фантастических концепциях.</p>
				<p>Но особое внимание, как было уже сказано выше, уделяется поддержке экономической системы, которая всегда должна  поощрять предпринимательство и креативность. Ведь именно это было всегда из одних важнейших двигателей любого прогресса цивилизации. На абсолютно любом её кластере.</p>
				<p>Если мы хотим, чтобы наша страна по-настоящему преуспевала в эпоху третьего тысячелетия, нам необходимо, чтобы государственный и частный сектор работали симбиозно, а также государством и любым частным сектором всегда поощрялось создание новых компаний.</p>
				<p>Это не только проблема какого-либо государства в частности, а это всегда глобальная проблема. Предпринимательство должно поощряться по всему миру. Достижение общей цели – создания нового бизнеса – должно стать стремлением каждого, независимо от  культурной и расовой принадлежности, географической зональности, религиозных пристрастий, политических взглядов, личностных идеологических концепций.
				Предпринимательство не ограничивается только нашими границами. Это иллюзия.</p>
				<p>Цифровая индустрия имеет прозрачные проницаемые границы.</p>
				<p>Меры нет. Есть только наши мысли заключенные в предмет. <br>
				Пусть это вдохновит многих людей сделать первый шаг – создать свой собственный уникальный бизнес. </p>
				<p>Немного веры в себя и Вы измените мир.</p>
{% endblock %}