{% extends 'additional/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Terms and Privacy' %}{% endblock %}
{% block content %}
        <h3 class="mh32">Спасибо Вам за использование Sell-n-Buy!</h3>
				<p>1. Использование Sell-n-Buy </p>
				<p style="margin-left:17px">a. Кто может использовать Sell-n-Buy</p>
				<p>Любое физическое лицо, индивидуальный предприниматель, юридическое лицо или любые другие организации любой страны или государства. Вы можете использовать наш продукт, только после ознакомления с правилами и обязательствами Sell-n-Buy, и с соответствующими действующими правилами и обязательствами использовать нашу платформу. <br>
				При создании аккаунта в Sell-n-Buy, Вы должны предоставлять точную и соответствующую действительности информацию. 
				<br>
				Любое использование или доступ лиц, не достигших возраста 18 лет без согласия родителей - запрещено. <br>
				Если Вы открываете счёт от имени компании, организации, или другого юридического лица, то «Вы» и другие представительные лица гарантируете, что имеете право предоставлять все размещения и лицензии от лица организации, после ознакомления с правилами и обязательствами Sell-n-Buy. И что создаёте свой аккаунт Sell-n-Buy от лица не только единоличного, но и организации, на основе ознакомления правил Sell-n-Buy.</p>
				<p>P.S.: Вы принимаете тот факт, что мы можем автоматически обновлять наш продукт для улучшения нашего ресурса в качестве модернизации и инноваций.</p>
				<p style="margin-left:17px">b. Наша платформа для Вас</p>
				<p>С учетом этих вышеизложенных условий и наших правил платформы Sell-n-Buy (в том числе нашей политики допустимого использования), мы предоставляем Вам ограниченную, неисключительную, не подлежащую передаче иным лицам, и отзыва согласия с правилами на использование, аккаунт нашего ресурса.</p>
				<p style="margin-left:17px">c. Коммерческое использование Sell-n-Buy</p>
				<p>Если Вы хотите использовать наш продукт для коммерческих целей необходимо создать бизнес-аккаунт и повторно согласиться с ознакомлением наших условиями и правилами использования нашей платформы.</p>
				<p>2. Ваш контент</p>
				<p style="margin-left:17px">a. Публикация контента</p>
				<p>Sell-n-Buy позволяет размещать контент: товары, лоты, фотографии, комментарии, ссылки и другие материалы. Вы сохраняете все права использования материала за собой и несёте полную ответственность за публикуемый материал на Sell-n-Buy.</p>
				<p style="margin-left:17px">b. Как Sell-n-Buy и другие пользователи могут использовать Ваш контент.</p>
				<p>После публикации материалов Вы предоставляете Sell-n-Buy и его пользователям  безвозмездную передачу публикуемых ресурсов для всемирного использования, хранения, ознакомления и другого использования в личных целях, а так же иной эксплуатации.
				Мы оставляем за собой право удалять или изменять пользовательский контент по любой причине, в том числе пользовательские материалы, которые, на наш взгляд, нарушают эти условия или наши правила ресурса.</p>
				<p style="margin-left:17px">c. Как долго мы храним Ваш контент</p>
				<p>По истечению указанного Вами срока публикации товара или лота он уходит в архив.
				Вы можете его переактивировать или удалить – если Вам это требуется.
				После прекращения или деактивации аккаунта, или если Вы удалите свой любой пользовательский контент он немедленно удалится с нашего ресурса как в общем виде товаров, так и в частных страницах юзеров (wish list и news list).</p>
				<p style="margin-left:17px">d. Спам</p>
				<p>За публикацию спама или нарушения правил поведения на ресурсе мы оставляем за собой право удалять материалы или аккаунты.</p>
				<p>3. Безопасность</p>
				<p>Мы заботимся о безопасности наших пользователей. Мы всегда работаем, чтобы обеспечить безопасность вашего контента и аккаунта, но Sell-n-Buy не можем гарантировать, что третьи лица не смогут когда-нибудь победить наши меры безопасности. Пожалуйста, немедленно уведомите нас о любом  несанкционированном использования вашей учетной записи для того чтобы мы незамедлительно приняли меры.</p>
				<p>4. Сторонние ссылки, сайты и услуги</p>
				<p>Наша платформа может содержать ссылки на сторонние веб-сайты, рекламодателей, услуги, специальные предложения, акции или другие события или виды деятельности, которые не принадлежат или как-либо подконтрольны Sell-n-Buy. 
				По этой причине мы не подтверждаем и не несём никакой ответственности за информацию и материалы, публикуемые на любых подобных сторонних сайтах или ресурсах.  <br>
				Если Вы перейдёте или получите доступ к любому такому посторонему внешнему ресурсу из публикуемых на Sell-n-Buy; любых материалов с иных посторонних веб-сайтов - Вы осуществляете этот шаг под своей ответственностью - на свой страх и риск. <br>
				Мы так же не подтверждаем и не несём никакой ответственности за достоверность информации и материалы, продукты или услуги; мероприятия или акции публикуемые на нашем сайте. <br>
				Но мы всегда стараемся предотвратить любой неблагоприятный инцидент.
				Если Вы столкнётесь с мошенничеством или получите некачественный материал, продукт или услугу, опубликованный на нашем сайте, то Вы берёте на себя полную ответственность, и Вы согласны, что по вышеизложеннным причинам Sell-n-Buy не несёт никакой ответственности, вытекающей из использования или доступа к любой недостоверной информации и любым материалам; любому некачественному продукту или услуги; любых мероприятиях и акциях. Во избежание данного факта просим Вас незамедлительно сообщить нам о данном происшествии, чтобы мы приняли все необходимые меры.</p>
				<p>5 Возмещение </p>
				<p>Если Вы используете наш ресурс в коммерческих целях, но по каким-либо причинам произошел неблагополучный инцидент, указанным в пункте 4, Вы соглашаетесь оградить Sell-n-Buy и его должностных лиц, директоров, разработчиков, сотрудников и агентов, от любых претензий, разбирательств, споров, требований, обязательств, убытков, затрат и расходов, в том числе на юридические и бухгалтерские сборы (в том числе расходы на защиту претензий, исков или судебных разбирательств предъявленых третьими сторонами), в любом том случае, когда инцидент произошёл при переходе на Ваш ресурс. <br>
				Если Вы используете наш ресурс для бизнес аккаунта, но по каким-либо причинам произошёл неблагополучный инцидент, указанный в пункте 3, Вы соглашаетесь оградить Sell-n-Buy и его должностных лиц, директоров, разработчиков, сотрудников и агентов, от любых претензий, разбирательств, споров, требований, обязательств, убытков, затрат и расходов, в том числе на юридические и бухгалтерские сборы (в том числе расходы на защиту претензий, исков или судебных разбирательств предъявленых третьими сторонами), в любом том случае, когда инцидент произошёл по Вашей причине. <br>
				Во избежание данного факта просим Вас незамедлительно сообщить нам о данном происшествии, чтобы мы приняли все необходимые меры.</p>
				<p>6 Изменение или прекращение</p>
				<p>Sell-n-Buy всегда может расширить или изменить (редактировать) действие данных правил в любое время, без предварительного уведомления пользователей.
				Sell-n-Buy всегда может прекратить действия материалов или аккаунтов, публикуемых на ресурсе без предварительного уведомления пользователя.</p>
				<h4>Вы всегда можете помочь нам сделать Sell-n-Buy лучше.</h4>
				<p>Sell-n-Buy всегда может расширить или изменить (редактировать) действие данных правил в любое время, без личного уведомления пользователей. <br>
				Предлагая Ваши пожелания по модернизации Sell-n-Buy, Вы должны помнить и учитывать, что другие третьи лица, а так же сами разработчики Sell-n-Buy могут уже предложить подобные идеи к разработке.</p>
{% endblock %}