{% extends 'additional/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Rules' %}{% endblock %}
{% block content %}
				{% if request.LANGUAGE_CODE == "ru" %}
        <h3>ПРАВИЛА</h3>
				<h4>Требования к продавцам и сайтам интернет – магазинов при продаже:</h4>
				<ul>
					<li>На странице продавца или интернет-магазина должно быть введено имя юзера, его юридический или фактический адреса, телефон и адрес электронной почты продавца или организации, осуществляющей продажу товаров и услуг, а так же сайт при его наличии.</li>
					<li>Сайт интернет-магазина может быть любой личный дополнительный интернет ресурс, связанный с продавцом или интернет-магазином.</li>
					<li>Список категорий товаров и лотов, перечисленных в заявке к Sell-n-Buy, должен полностью соответствовать списку категорий товаров и услуг, предлагаемых на сайте интернет-магазина.</li>
					<li>Продаваемые продавцом или интернет-магазином товары и лоты должны быть подробно описаны: Описание должно включать характеристики предлагаемых товаров и услуг, их потребительские свойства и цену.</li>
					<li>На странице продавца или интернет-магазина должны быть отражены условия, порядок и сроки доставки, а также список регионов и населенных пунктов, куда осуществляется доставка, включая населенные пункты за пределами Государства, на котором непосредственно находится продавец или интернет-магазин, если в таковые доставка предусмотрена.</li>
					<li>На странице продавца или интернет-магазина должны быть отражены ограничения на экспортную деятельность (при их наличии).</li>
					<li>На странице продавца или интернет-магазина должны быть отражены условия и порядок возмещения и возврата денежных средств и отмены транзакции. В случае, если такие процедуры продавцом или интернет-магазином не предусмотрены, он обязан информировать покупателей об этом на своих страницах или в личных сообщениях.</li>
				</ul>
				<h4>Обязательные требования 
				к физическому лицу, индивидуальному предпринимателю, юридическому лицу, осуществляющему продажу товаров или услуг на Sell-n-Buy:</h4>
				<ul>
					<li>Продавцом на Sell-n-Buy может быть любое физическое или юридическое лицо, являющимся резидентом любой страны и любого государства.</li>
					<li>
						Запрещается использование системы и платформы Sell-n-Buy для продажи:
						<br>
						<br>
						<ul>
							<li>Алкогольной продукции</li>
							<li>Табачной продукции</li>
							<li>Наркотических средств</li>
							<li>Медикаментов</li>
							<li>Товары индустрии "развлечений для взрослых" и порнографии</li>
							<li>Иных товаров, свободная реализация которых запрещена или ограничена законодательством Государства, на котором находится продавец или интернет-магазин.</li>
							<li>Выставление товаров запрещенных в международной пересылке и товаров запрещенных к продаже самой платформой Sell-n-Buy (алкогольная продукция, наркотики, табачная продукция, лекарства, оружие, взрывчатые вещества, товары, которые нарушают авторские права или права на интеллектуальную собственность; направленные на подрыв государственного строя, разжигающие межнациональную рознь, межрелигиозную рознь и нарушающие межкультурную компетентность, расовую дискриминацию, а так же порнографию и т.д.).</li>
						</ul>
						<p>Лоты с запрещенными товарами на Sell-n-Buy просто снимают с торгов, а в случае повторных нарушений, аккаунт продавца или интернет-магазина может быть заблокирован: или временно или на постоянной основе. Также в качестве санкций практикуется временное ограничение возможности выставлять лоты на продажу. 
						Если запрещенный товар при пересылке будет обнаружен таможенной службой, то он может быть конфискован.</p>
					</li>
				</ul>
				<h3 class="mh3">ПРОГРАММА ЗАЩИТЫ ПОКУПАТЕЛЕЙ</h3>
				<p>В случае возникновения проблемы, при совершении сделки на нашем веб-сайте, Вы попадаете под действие программы защиты покупателей.</p>
				<p>Программа Защиты Покупателя позволяет покупателям компенсировать потраченные средства, в случае если:</p>
				<ul style="margin-left:16px;">
					<li>Товар не получен</li>
					<li>Полученный товар существенно не соответствует описанию</li>
				</ul>
				<p>Большинство интернет-покупок на ресурсе проходят успешно, и все стороны довольны сделкой. Но мы понимаем и знаем, что в жизни порой происходят непредвиденнные и неприятные ситуации.<br>
				Мы поможем Вам защитить Ваши деньги и покупки везде, где Вы оплачиваете и покупаете через наш сайт. <br>
				В случае, если товар, который Вы заказали, не был отослан и доставлен или он существенно отличается от описания на сайте, мы поможем Вам вернуть стоимость вашей покупки.</p>
				<p>Sell-n-Buy  предлагает всем Вам участие в Программе защиты покупателей. Мы надеемся, что это будет способствовать развитию честных отношений между покупателями и продавцами и разрешению конфликтных ситуаций, возникающих между пользователями, а также поможет защитить интересы покупателей, приобретающих товары на условиях предварительной оплаты, как наименее защищенной стороны спора.</p>
			{% else %}
			<h3>REGULATIONS</h3>
				<h4>SALE REQUIREMENTS FOR SELLERS AND INTERNET SHOPS SITES:</h4>
				<ul>
					<li>The name of the user, his / her legal or actual address, phone number and e-mail address, and the site (if available) of the seller or organization, selling goods and services, should be entered on the seller's or online store's page.</li>
					<li>Any additional personal Internet resource, associated with the seller or online store, can be a site of the online store.</li>
					<li>A list of categories of goods and lots, listed in an application for Sell-n-Buy, must fully correspond to the list of categories of goods and services offered on the website of the online store.</li>
					<li>Goods and lots, sold by the seller or online store, must be described in detail. The description should include the characteristics, consumer properties and price of the goods and services offered.</li>
					<li>On the seller's or online store's page the terms, procedure and timetable of delivery should be mentioned, as well as a list of regions, cities and towns where the delivery is carried out, including such places outside the country where the seller or the online store is actually located, if such delivery services are provided.</li>
					<li>On the seller's or online store's page there should be information about restrictions on export activities (if any).</li>
					<li>On the seller's or online store's page there should be about the conditions and procedure for money refunding and canceling of the transaction. In the case if such procedures are not provided by the seller or online store, they are obliged to inform buyers about this on their pages or in private messages.</li>
				</ul>
				<h4>MANDATORY REQUIREMENTS FOR A PRIVATE PERSON, INDIVIDUAL ENTREPRENEUR, OR LEGAL ENTITY SELLING GOODS OR SERVICES ON SELL-N-BUY:</h4>
				<ul>
					<li>A seller on Sell-n-Buy can be any private person or legal entity that is a resident of any country and any state.</li>
					<li>
						It is prohibited to use the system and platform of the Sell-n-Buy for sale of:
						<br>
						<br>
						<ul>
							<li>Alcohol products</li>
							<li>Tobacco products</li>
							<li>Narcotic drugs</li>
							<li>Medication</li>
							<li>"Entertainment for adults" goods and pornography</li>
							<li>Other goods prohibited or restricted for free sale by the laws of the Country, in which the seller or the online store are located.</li>
							<li>The display of goods prohibited for the international shipment and goods prohibited for sale by the Sell-n-Buy platform itself (alcoholic beverages, narcotic drugs, tobacco products, medication, weapons, explosives, goods that violate copyrights or intellectual property rights; goods, undermining the state system, inciting interethnic strife, inter-religious strife and violating intercultural competence, promoting racial discrimination, pornography, etc.).</li>
						</ul>
						<p>Lots with prohibited goods on Sell-n-Buy will be simply withdrawn from the auction, and in case of repeated violations, the account of a seller or online store may be temporarily or permanently blocked. There is also such punishment as a temporary restriction of the ability to place lots for sale. If the prohibited goods are found by the customs service upon shipment, they can be confiscated.</p>
					</li>
				</ul>
				<h3 class="mh3">BUYERS’ PROTECTION PROGRAM</h3>
				<p>If you have any problems, when making transaction on our website, the buyers’ protection program will be applied.</p>
				<p>The Buyers’ Protection Program allows buyers to get their money back in the case, if:</p>
				<ul style="margin-left:16px;">
					<li>The goods are not received</li>
					<li>The received goods essentially do not correspond to the description</li>
				</ul>
				<p>Most online purchases, using our website, are successful, and all parties are satisfied with their deals. But we know and understand that sometimes unforeseen and unpleasant situations can occur. We will help you to protect your money and purchases wherever you pay and buy through our website. <br>
				In the case if the goods you ordered were not shipped and delivered or it differs significantly from the description on the website, we will help you to return your money.</p>
				<p>Sell-n-Buy offers you participation in the Buyers’ Protection Program. We hope that this will promote honest relations between buyers and sellers and resolution of conflicts between users. This Program will also help to protect the interests of buyers who purchase goods on prepayment terms and the less protected party in the case of any dispute.</p>
			{% endif %}
{% endblock %}