{% load main_tags %}
{% load goods_tags %}
{% load thumbnail %}
{% load i18n %}
{% for good_same in goods %}
    <div id="category">
        <a href="{% url 'goods:good_view' good_same.pk %}">
            {% show_good_image good_same '165' '165' %}
        </a>
        <a href="{{ good_same.user.profile.site|check_http_prefix }}" id="site-min">
            {{ good_same.user.profile.site }}
        </a>
        <div id="rev-min">{{ good_same.title }}</div>
        <div id="place-min">
            <a href="{% url 'goods:search' %}?filter=1&location={{ good_same.user.profile.get_country_display }}">{{ good_same.user.profile.get_country_display }}</a>,
            <a href="{% url 'goods:search' %}?filter=1&location={{ good_same.user.profile.get_country_display }}">{{ good_same.user.profile.city }}</a>
        </div>
        <div id="tags-min-block">
            {% for tag in good_same.tags.all %}
                <a href="{% url 'goods:search' %}?filter=1&tag_id[]={{ tag.id }}" class="tags-min">{{ tag.name }}</a>,
            {% empty %}
                Good without tags
            {% endfor %}
{#							<ul id="modal-statistics">#}
{#								<li>50</li>#}
{#								<li>50</li>#}
{#								<li>50</li>#}
{#								<li>50</li>#}
{#								<li>50</li>#}
{#								<div class="clear"></div>#}
{#							</ul>#}
        </div>
        <a href="{{ good_same.user.profile.get_absolute.url }}" id="icon-min">
            {% thumbnail good_same.user.profile.avatar "25x25" as avatar %}
                <img src="{{ avatar.url }}">
            {% endthumbnail %}
        </a>
        <h4>
            <a href="{{ good_same.user.profile.get_absolute_url }}">{{ good_same.user.username }}</a>
        </h4>
        <span>{{ good_same.user.profile.get_status_display }}</span>
        <div id="price-min">{{ good_same.get_good_price_by_deal }}</div>
    </div>
{% empty %}
    {% trans 'No results found' %}
{% endfor %}