{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load main_tags %}
        {% if objects_count > 0 and objects_count <= 3 and objects.number == 1 %}
            {% include "search_sellers.html" %}
        {% endif %}
        {% for object in objects %}
            {% if objects_count > 3 and forloop.counter0 == 2 and objects.number == 1 %}
                {% include "search_sellers.html" %}
            {% endif %}
            <div id="category" data-deal-filter='{{ object.deal }}' class="{% if object.deal == AUCTION %}auction{% elif object.deal == SALE %}sale{% endif %} deal">
                <a rel="example_group" class="fancybox fancybox.iframe" href="{% url 'goods:goods_modal' object.pk %}">
                    {% if object.get_first_image %}
                        {% thumbnail object.get_first_image.image "165x165" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="{% static 'images/no-good-image.png' %}">
                    {% endif %}
                </a>
                <div class="additional-stats show">
                    <a href="{{ object.user.profile.site|check_http_prefix }}" id="site-min">
                        {{ object.user.profile.site }}
                    </a>
                    <div id="rev-min">
                        {{ object.title }}
                    </div>
                    <div id="place-min">
                        <a href="{% url 'goods:search' %}?filter=1&location={{ object.user.profile.get_country_display }}">{{ object.user.profile.get_country_display }}</a>
                        <a href="{% url 'goods:search' %}?filter=1&location={{ object.user.profile.city}}">{{ object.user.profile.city }}</a>
                    </div>
                    <div id="tags-min-block">
                        {% for tag in object.tags.all %}
                            <a href="{% url 'goods:search' %}?filter=1&tag_id[]={{ tag.name }}" class="tags-min">{{ tag.name }}</a>,
                            <br>
                        {% empty %}
                            Good without tags
                        {% endfor %}
{#                        <ul id="modal-statistics">#}
{#                            <li>50</li>#}
{#                            <li>50</li>#}
{#                            <li>50</li>#}
{#                            <li>50</li>#}
{#                            <li>50</li>#}
{#                            <div class="clear"></div>#}
{#                        </ul>#}
                    </div>
                </div>
                <a href="{{ object.user.profile.get_absolute_url }}" id="icon-min">
                    {% thumbnail object.user.profile.avatar "25x25" as avatar %}
                        <img src="{{ avatar.url }}">
                    {% endthumbnail %}
                </a>
                <h4>
                    <a href="{{ object.user.profile.get_absolute_url }}">{{ object.user.username }}</a>
                </h4>
                <span>{{ object.user.profile.get_status_display }}</span>
                <div class="price-min-wrapper">
                    {% if object.deal == SALE %}
                        <p class="clearfix">
                            <span class="right bold">{{ object.new_price }}</span>
                        </p>
                        <p class="clearfix">
                            <span class="little-words">{% trans 'new price' %}</span>
                        </p>
                        <p class="clearfix hide">
                            <span class="line-through">{{ object.old_price }} $</span>
                        </p>
                        <p class="clearfix">
                            <span class="little-words">{% trans 'old price' %}</span>
                        </p>
                    {% elif object.deal == BUY_SELL %}
                        <p class="clearfix">
                            <span class="right bold">{{ object.price }}</span>
                        </p>
                    {% else %}
                        <p class="clearfix">
                            <span class="right bold">{{ object.reserve_price }}</span>
                        </p>
                        <p class="clearfix">
                            <span class="little-words">{{ object.bids.count }} {% trans 'bids' %}</span>
                        </p>
                        <p class="clearfix hide">
                            <span class="line-through">{{ object.max_price }} $</span>
                        </p>
                        <p class="clearfix">
                            <span class="little-words">{% trans 'fix price' %}</span>
                        </p>
                    {% endif %}
                    <div class="hidden-price-panel">
                        <button class="pay">{% trans 'Pay' %}</button>
                    </div>
                </div>
                {% if object.deal == SALE %}
                    <div class="discount">{{ object.get_sale_percent }} %</div>
                {% elif object.deal == AUCTION %}
                    <div class="counter"> 10 | 05 | 25</div>
                {% endif %}
                <div class="cross-goods">
                    <img src="{% static 'images/categories/cross-little-icon.png' %}">
                </div>
                <div class="clear"></div>
            </div>
        {% empty %}
            <div style="text-align: center">
                <p class="sum-text">{% trans 'No results found' %}</p>
            </div>
        {% endfor %}