{% extends "basis.html" %}
{% load staticfiles %}
{% load i18n %}
{% load main_tags %}
{% load cart_tags %}
{% load thumbnail %}
{% block title %}
    {% if page == 'search' %}
        Search result for: {{ search_request }}
    {% else %}
        Filtered results
    {% endif %}
{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/categories/categories.css' %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/categories/filter.css' %}" type="text/css" media="all">
    <script type="text/javascript" src="/static/js/categories/blocksit.js"></script>
		<!-- Add modal window (fancybox) functionality -->
        <link rel="stylesheet" href="{% static 'js/fancybox2_1_5/jquery.fancybox.css' %}" type="text/css" media="screen" />
        <script type="text/javascript" src="{% static 'js/fancybox2_1_5/jquery.fancybox.pack.js' %}"></script>
    <!-- end -->
    <script type="text/javascript">
		$(document).ready(function() {
            $(".fancybox").fancybox({
                helpers: {
                    overlay: {
                        css: {
                            'background': 'rgba(00, 00, 00, 0.9)'
                        }
                    }
                },
                tpl: {
                    closeBtn: '<a title="Close" class="fancybox-item fancybox-close mClose" href="javascript:;"></a>',
                    next: '<a title="Next" class="fancybox-nav fancybox-next mNext" href="javascript:;"></a>',
                    prev: '<a title="Previous" class="fancybox-nav fancybox-prev mPrev" href="javascript:;"></a>'
                },
                loop: true,
                width: 902,
                height: 901,
                autoSize: false,
                fitToView: false,
                openEffect: 'none',
                closeEffect: 'none',
                nextEffect: 'none',
                prevEffect: 'none',
                padding: 0,
                margin: [20, 60, 20, 60], // Increase left/right margin
                beforeShow: function(){
                    $(".fancybox-skin").css("backgroundColor","transparent"); // Set inner container background color
                }
            });
            // Lazy load script
            var page = 1;
            var empty_page = false;
            var block_request = false;
            $('#lazy_more').click(function (e) {
                e.preventDefault();
                if (empty_page == false && block_request == false) {
                    block_request = true;
                    page += 1;
                    {% if page == 'search' %}
                        var query = '?query={{ search_request }}&page=' + page;
                    {% elif page == 'filter' %}
                        var query = '?filter=1&{{ search_request|safe }}&page=' + page;
                    {% endif %}
                    $.get(query, function (data) {
                        if (data == '') {
                            empty_page = true;
                        } else {
                            block_request = false;
                            // Wrap data to work with masonry plugin
                            var $content = $(data);
                            $('.category-container-tab2').append($content).masonry('appended', $content);
                            $('.category-container-tab2').multipleFilterMasonry({
                                itemSelector: '.deal',
                                filtersGroupSelector:'.filters'
                            });
                        }
                    });
                }
            });
        });
	</script>
{% endblock %}
{% block content %}
    <div id="post-header" class="sixteen wide column">
	    <!--<div class="promotional-banner ">
		    <div class="slide">
        	<img src="{% static 'images/categories/banner-one_03.jpg' %}">
        </div>
		    <div class="slide">
          <img src="{% static 'images/categories/banner-two_03.jpg' %}">
        </div>
      </div>-->
			<div class="ui segment">
				<table id="goods_type" class="ui very basic fixed table">
	            <tr>
	                <td class="center floated">
	                    <a href="#" id="post-header-button1" onclick="filterByDealType({{ SALE }})">
                            <img src="{% static 'images/categories/procentage-icon.png' %}">
                        </a>
                    </td>
                    <td id="add_cell" class="collapsing center floated">
	                    <a href="{% url 'goods:add_good' %}" id="post-header-button2" class="button-icons">
		                    <img class="orange-buttons" src="{% static 'images/categories/vitrin-icon.png' %}">
		                    <!--<img class="green-buttons active" src="{% static 'images/categories/main-cart-icon.png' %}">-->
                        </a>
                    </td>
                    <td class="center floated">
	                    <a href="#" id="post-header-button3">
                            <img src="{% static 'images/categories/hammer-icon.png' %}">
                        </a>
                    </td>
	            </tr>
	        </table>
	    	<!--<div id="post-header" class="filters">
            <div id="post-header-button1">
                <input type="checkbox" value="sale" id="sale_filter"><label for="sale_filter"></label>
            </div>
		    	<a href="{% url 'goods:add_good' %}" id="post-header-button2" class="button-icons">
			  		<img class="orange-buttons" src="{% static 'images/categories/vitrin-icon.png' %}">
			  		<img class="green-buttons active" src="{% static 'images/categories/main-cart-icon.png' %}">
        	</a>
		    	<div id="post-header-button3">
           <input type="checkbox" value="auction" id="auction_filter"><label for="auction_filter"></label>
        	</div>
	    	</div>-->
			</div>
		</div>
		<div class="sixteen wide column padless">
	    <div class="ui segment grid">
	    	<div id="wrapper-tabs" class="sixteen wide column center aligned">
	        <!--<span>
		        <a href="#" class="tab1">{% trans 'past' %}</a>
		        <a href="#" class="tab2">{% trans 'present' %}</a>
		        <a href="#" class="tab3">{% trans 'future' %}</a>
		        <div class="clear"></div>
	        </span>-->
	        <span class="copy">
                {% if page == 'search' %}
                    {{ search_request }}
                    <input type="hidden" id="requestVal" value="{{ search_request }}">
                {% endif %}
          </span>
	        <!--<div class="cross-goods">
             <img src="{% static 'images/categories/cross-little-icon.png' %}">
          </div>
	        <div class="visibility-eye active">
		        <img class="active" src="{% static 'images/categories/open-eye-icon.png' %}">
		        <img src="{% static 'images/categories/closed-eye-icon.png' %}">
	        </div>-->
		    	<div id="sort-min">
			    	<table class="ui very basic fixed table">
                    <tbody>
                        <tr>
                            <td class="center aligned copy">
                                <i id="sort-price-up" class="angle up icon"></i>
				                <span>{% trans 'price' %}</span>
				                <i id="sort-price-down" class="angle down icon"></i>
                            </td>
                            <td class="center aligned copy">
                                {{ objects_count }} lot{{ objects_count|pluralize }}
                            </td>
                            <td class="center aligned copy">
                                <i id="sort-down" id="sort-data-up" class="angle up icon"></i>
				                <span>{% trans 'date' %}</span>
				                <i id="sort-data-down" class="angle down icon"></i>
                            </td>
                        </tr>
                    </tbody>
             </table>
						<div class="ui divider"></div>
		    	</div>
          <div class="sixteen wide column padless">
            <div id="category-container">
                {% include "search_category_ajax.html" %}
            </div>
          </div>
      	</div>
			</div>
		</div>
    <div class="sixteen wide center aligned column">
        <a class="ui basic grey button" href="" id="lazy_more">{% trans 'MORE' %}</a>
    </div>
    
    <section class="filter-toggle">
	    <img class="photo-centre" src="{% static 'images/categories/toggle-filter.png' %}">
    </section>
    <section class="filter clearfix">
    <!-- Filters block -->

        <section class="filter-toggle-inner">
            <img class="photo-centre" src="{% static 'images/categories/toggle-filter.png' %}">
        </section>
        <div class="first-block">
            <div class="second-search-box">
                <input type="text" class="name" placeholder="{% trans 'Search by name' %}" id="name_search_filter">
            </div>
            <div id="price-range"></div>
		        <div class="clearfix cost">
		        	<div class="from">
		        		<input type="text" class="input-costs walidate-me" id="min_cost_filter">
		        	</div>
		        	<div class="block-price">
		        		<div class="rang">{% trans 'Price' %}</div>
		        		<div id="open-category">
		        	      <img class="open-bottom" src="{% static 'images/categories/sort-down.png' %}">
		                </div>
		        	</div>
                    <div class="costs-end">
		        		<input type="text" class="input-costs walidate-me" id="max_cost_filter">
                    </div>
		        </div>
		    </div>
		    <div class="big-hidden-block">
		        <div class="info">
		    	    <p class="black">{% trans 'Info' %}</p>
                    <div class="open-window">
			    	    <div class="info-words clearfix">
			    		    <div class="location">
			    		        <p>{% trans 'Location' %}</p>
	                            <div class="location-block">
					       	        <img class="location-img" src="{% static 'images/categories/pointer-icon.png' %}">
					       	        <input class="location-input" type="text" id="location_filter">
					       	    </div>
			    		    </div>
			    		    <div class="form-deal">
			    		        <p>{% trans 'Type of deal' %}</p>
							    <div id='slider-popup-1' class="popup-slider">
							        <div data-deal="{{ BUY_SELL }}">{% trans 'Buy/Sell' %}</div>
							        <div data-deal="{{ SALE }}">{% trans 'Sale' %}</div>
							        <div data-deal="{{ AUCTION }}">{% trans 'Auction' %}</div>
							    </div>
			    		    </div>
			    		    <div class="condition">
			    		        <p>{% trans 'Condition' %}</p>
							    <div id='slider-popup-2' class="popup-slider">
							        <div data-state="{{ NEW }}">{% trans 'New' %}</div>
							        <div data-state="{{ USED }}">{% trans 'Used' %}</div>
							    </div>
			    		    </div>
			    		    <div class="options">
			    		        <p>{% trans 'Delivery options' %}</p>
							    <div id='slider-popup-3' class="popup-slider">
							        <div data-delivery="{{ MAIL }}">{% trans 'Mail' %}</div>
							        <div data-delivery="{{ HANDS }}">{% trans 'Hands' %}</div>
							        <div data-delivery="{{ LOGISTIC }}">{% trans 'Logistic' %}</div>
							        <div data-delivery="{{ COURIER }}">{% trans 'Courier' %}</div>
							        <div data-delivery="{{ PICKUP }}">{% trans 'Pickup' %}</div>
							    </div>
			    		    </div>
			    		    <div class="cooperation">
			    		        <p>{% trans 'Cooperation' %}</p>
		 					    <div class="location-block">
						       	    <img class="location-img" src="{% static 'images/categories/pointer-icon.png' %}">
						       	    <input class="location-input" type="text" id="cooperation_filter">
					       	    </div>
			    		    </div>
			    	    </div>
		            </div>
                </div>
		        <div class="block-category clearfix">
			        <div class="black">
			            <p>{% trans 'Tags' %}</p>
			        </div>
			        <div class="open-window">
                        <div style="column-count: 4" id="tagslist">
                            {% for tag in all_tags %}
                                <p>
                                    <a href="#" onclick="tagFunctionCliked({{ tag.id }})" data-action="add" id="tag{{ tag.id }}">
                                        {{ tag.name }}
                                    </a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
	            </div>
	            <div class="block-new-category">
                    <div class="black">
                        <p>
                            {% trans 'Do you want to add a tag?' %}
                        </p>
                    </div>
                    <div class="open-window">
                        <input type="text" id="your-own-category">
                        <div class="hidden-new-category">
                            <div class="new-name">
                                <div class="new-witrin-name">{% trans 'Enter tag name' %}</div>
                                <div class="add-img-new">
                                    <a href="#" onclick="addTagFunctionCliked()"><img src="{% static 'images/categories/vitrin-icon.png' %}"></a>
                                </div>
                            </div>
				        </div>
			        </div>
	            </div>
	            <div class="block-product-characteristics clearfix">
                    <div class="black"><p>{% trans 'Product features' %}</p></div>
                    <div class="open-window">
                        <div class="description-product">
                            <input type="text" placeholder="{% trans 'trade mark' %}" id="trade_mark_filter">
                            <input type="text" placeholder="{% trans 'model' %}" id="model_filter">
                        </div>
                        <div class="description-product">
                            <input type="text" placeholder="{% trans 'material' %}" id="material_filter">
                            <input type="text" placeholder="{% trans 'size' %}" class="validate-me" id="size_filter">
                        </div>
                        <div class="description-product">
                            <input type="text" placeholder="{% trans 'color' %}" id="color_filter">
                            <input type="text" placeholder="{% trans 'weight' %}" class="validate-me" id="weight_filter">
                        </div>
                        <div class="description-product-last">
                            <input type="text" placeholder="{% trans 'equipment' %}" id="equipment_filter">
                            <input type="text" placeholder="{% trans 'vendor' %}" id="vendor_filter">
                        </div>
                    </div>
                </div>
            </div>
        <div class="bottom-filter">
                <div class="result">
                    <p>{% trans 'Result' %}</p>
                    <p id="count_result">0</p>
                </div>
                <div class="">
                    <ul class="done clearfix">
                        <li class="clearAll">Сбросить</li>
                        <li class="okay"><a href="#" onclick="redirectToFilterResults()">OK</a></li>
                        <li class="closeAll">Закрыть</li>
                    </ul>
                </div>
            </div>
    </section>
    <div class="overlay"></div>
    <script type="text/javascript" src="{% static 'js/categories/categories.js' %}"></script>
	<script>
        var filterPostBody = {}; // Variable to store POST request parameters
	    $deliveryBlock = $('.top-pin-container');
	    $('.block-delivery .row.center').click(function(){
		    $('.block-delivery').append($deliveryBlock)
	    });

	    $('.visibility-eye').click(function(){
	        $(this).toggleClass('active');
	        $('.additional-stats').toggleClass('show');
	        $('.category-container-tab2').masonry({
	            // указываем элемент-контейнер в котором расположены блоки для динамической верстки
	            itemSelector: '#category',
	            // указываем класс элемента являющегося блоком в нашей сетке
	            singleMode: true,
	            // true - если у вас все блоки одинаковой ширины
	            isResizable: true,
	            // перестраивает блоки при изменении размеров окна
	            isAnimated: true,
	            // анимируем перестроение блоков
	            animationOptions: {
	                queue: true,
	                duration: 500
	            }
	            // опции анимации - очередь и продолжительность анимации
	        });

            $('.category-container-tab2').multipleFilterMasonry({
                itemSelector: '.deal',
                filtersGroupSelector:'.filters'
            });

	        $('.category-container-tab3').masonry({
	            // указываем элемент-контейнер в котором расположены блоки для динамической верстки
	            itemSelector: '#category',
	            // указываем класс элемента являющегося блоком в нашей сетке
	            singleMode: true,
	            // true - если у вас все блоки одинаковой ширины
	            isResizable: true,
	            // перестраивает блоки при изменении размеров окна
	            isAnimated: true,
	            // анимируем перестроение блоков
	            animationOptions: {
	                queue: true,
	                duration: 500
	            }
	            // опции анимации - очередь и продолжительность анимации
	        });
	        $('.category-container-tab1').masonry({
	            // указываем элемент-контейнер в котором расположены блоки для динамической верстки
	            itemSelector: '#category',
	            // указываем класс элемента являющегося блоком в нашей сетке
	            singleMode: true,
	            // true - если у вас все блоки одинаковой ширины
	            isResizable: true,
	            // перестраивает блоки при изменении размеров окна
	            isAnimated: true,
	            // анимируем перестроение блоков
	            animationOptions: {
	                queue: true,
	                duration: 500
	            }
	            // опции анимации - очередь и продолжительность анимации
	        });
	    });
	    position_left = $('#wrapper').css('margin-left').replace("px", "");
	    position_left -=50
	    $('.visibility-eye').css('margin-left', position_left);

	    window.onresize = function(){
		    position_left = $('#wrapper').css('margin-left').replace("px", "");
	        position_left -=50;

	        $('.visibility-eye').css('margin-left', position_left);
	    };
	
	    $('#wrapper').hover(
		    function(){
	            $('.big-cross, .big-cross-right').hide()},
	        function(){
	            $('.big-cross, .big-cross-right').show()
	        }
	    );
	    $('.button-icons .green-buttons').click(function(){
		
		    $(this).removeClass('active');
		    $('.orange-buttons').addClass('active');
		
		    $('.discount').css("background", "#bdfe42");
		    $('.hidden-price-panel .pay').css("background", "#ff6600").text("Редактировать");
	    });
	    $('.button-icons .orange-buttons').click(function(){
		
		    $(this).removeClass('active');
		    $('.green-buttons').addClass('active');
		    $('.discount').css("background", "#ff6600");
		    $('.hidden-price-panel .pay').css("background", "#bdfe42").text("Оплатить");
	    });
	    $('.promotional-banner').slick({
		    infinite: true,
		    autoplay:true,
		    arrows:false,
		    autoplaySpeed:12000,
		    draggable:false
	    });
	    $('.search-modal').click(function (){
		    $('.search-box').show();
		    $(this).parents('header').hide();
	    });
	    $('.img-search').click(function (){
		    $(this).parent().hide();
		    $('.blackheader.green').show();
	    });
	    $('input[class="search"]').keypress(function (e) {
	        var key = e.which;
	        if(key == 13)  // the enter key code
	        {
	            $(this).parent().hide();
	            $('.blackheader.green').show();
	        }
	    });
	

	    $('.dress-section').show();
	    $('.category-goods p').click(function(ev){
		    ev.preventDefault();
		    var ID = $(this).attr('id'),
		    openSection = "."+ ID + "-section",
		    allCats = $('.category-goods p')
		    allCats.removeClass('highlighted-link')
		    $(this).addClass('highlighted-link')

		    $('.block-subcategory').find('.hidden-goods').hide()
		    $('.block-subcategory').find(openSection).show()
		
	    })
        $('#your-own-category').click(function() {
		    $('.hidden-new-category').show()

		    $('.goods-img').click(function(ev){
			    ev.preventDefault()
			    ev.stopPropagation()
			    var theText = $(this).find('.selected-category')
			    $('#your-own-category').val($(theText).text())
			    $('.hidden-new-category').hide()
		    })
	    })
	    $('.hidden-new-category').click(function(){
		    $(this).hide()
		    $('.goods-img').click(function(ev){
			    ev.preventDefault()
			    ev.stopPropagation()
		    })
	    })
	    $('.hidden-goods p').click(function(ev){
		    ev.preventDefault()
		    $('.hidden-goods p').removeClass()
		    $(this).addClass('highlighted-link')
	    })
	    function validateNumber(event) {
            var key = window.event ? event.keyCode : event.which;
            if (event.keyCode == 8 || event.keyCode == 46 || event.keyCode == 37 || event.keyCode == 39) {
                return true;
            }
            else if ( key < 48 || key > 57 ) {
                return false;
            }
            else return true;
        };
        $('.number-input, .validate-me').keypress(validateNumber);
        $('.filter-toggle').click(function(){
		    $('#slider').slider()
		    $(this).next().show()
		    $(this).hide()
		    $('.overlay').show()
	    })
	    var the_height = $(document).height()
	    $('#open-category').click(function(){
            $('.big-hidden-block').toggleClass('show')
            //$('html, body').animate({scrollTop: 0},600);

            var n = the_height
       
            //$('.filter').toggleClass('filter-open')
            $('.filter').css("bottom", '0vh')
	    })


	    $('.black').click(function() {
		    $(this).toggleClass('active')
		    $(this).next().toggle()
		    //$('html, body').animate({scrollTop: $(document).height() },600);
		    var filter_height = $('.filter').outerHeight()
            if (filter_height > $(window).outerHeight()) {
    	        $('html, body').animate({scrollTop: $(document).height() },600);
    	        setTimeout(function(){
			        $('.filter').addClass('filter-open')
			    }, 500);
            }
	    })
	    $('.filter-toggle-inner, .closeAll').click(function() {
		    $('.filter').hide()
		    $('.overlay').hide()
		    $('.filter-toggle').show()
		    $('.filter').removeClass('filter-open')
		    $('.big-hidden-block').removeClass('show')
		    $('.black').removeClass("active")
		    $('.black').next().hide()
	    })
	    $('.info').click(function() {
            $('#slider-popup-1').slick()
            $('#slider-popup-2').slick()
            $('#slider-popup-3').slick()
        });

        jQuery(document).ready(function(){
            $("#price-range").slider({
                range: true,
                min: 0,
                max: 1000000,
                values: [ 0, 1000000],
                slide: function( event, ui ) {
                    $(".from .input-costs").val(ui.values[ 0 ]);
                    $(".costs-end .input-costs").val(ui.values[ 1 ]);
                },
                // Added by Victor Yamchinov to sent AJAX request on stop
                stop: function (event, ui) {
                    filterPostBody.min_cost = ui.values[0];
                    filterPostBody.max_cost = ui.values[1];
                    console.log(ui.values[0]);
                    console.log(ui.values[1]);
                    $.post('{% url "goods:goods_filter" %}', filterPostBody,
                        function (data, status, xhr) {
                            $("#count_result").text(data['count']);
                        }
                    );
                },
                function (event, ui) {
                    $(".from .input-costs").val(ui.values[0]);
                    $(".costs-end .input-costs").val(ui.values[1]);
                }
            });

            $(".from .input-costs").change(function () {
                var value = $(this).val()
                $("#price-range").slider("values", 0, parseInt(value));
            });
            $(".costs-end .input-costs").change(function () {
                var value = $(this).val()
                $("#price-range").slider("values", 1, parseInt(value));
            });

            $('.ui-slider-handle').first().text("OТ")
            $('.ui-slider-handle').last().text("ДО")
            $('.clearAll').click(function(){
	            $('.filter input').val("")
	            $("#price-range").slider("values", 0, 0);
	            $("#price-range").slider("values", 1, 1000000);
                // reset requestObject
                filterPostBody = {};
                // Set finding object to 0
                $("#count_result").text(0);
            })
        });

        $('.input-costs').bind("change keyup input click", function() {
		    if (this.value.match(/[^0-9]/g)) {
			    this.value = this.value.replace(/[^0-9]/g, '');
		    }
	    });

        // AJAX filter functions


        function sendFilterAjaxPost(postBody) {
            $.post('{% url "goods:goods_filter" %}', postBody,
                function (data, status, xhr) {
                    $("#count_result").text(data['count']);
                }
            );
        }

        function tagFunctionCliked(tag_id) {
            // Get tag id and send AJAX request to filter
            var tag_id_attr = '#tag' + tag_id; // form tagid selector
            if ($(tag_id_attr).data('action') == 'add') {
                // if array doesn't exist - create it
                if (!Array.isArray(filterPostBody.tag_id)) {
                    filterPostBody.tag_id = [];
                }
                filterPostBody.tag_id.push(tag_id);
                // change css and action
                $(tag_id_attr).data('action', 'remove');
                $(tag_id_attr).css('color', '#b1fe00');
            } else {
                // Remove selected id from array
                filterPostBody.tag_id = $.grep(filterPostBody.tag_id, function (value) {
                    return value != tag_id;
                });
                $(tag_id_attr).data('action', 'add');
                $(tag_id_attr).css('color', '#000000');
            }
            sendFilterAjaxPost(filterPostBody);
        }

        function check_login_url(xhr) {
            var login_url = '{% url "accounts:login" %}' + "?next={% url 'goods:search' %}" + "?query={{ search_request }}";
            if (xhr.responseText.indexOf('login') != -1 ) {
                // Check if response doesn't contain redirect to login. If it contains - redirect to login window
                window.location = login_url;
            }
        }

        function addTagFunctionCliked() {
            // add tag
            var new_tag_name = $('#your-own-category').val();
            $.post('{% url "goods:add_new_tag" %}', {
                    tag_name: new_tag_name
                },
                function (data, status, xhr) {
                    // Check if user logged in
                    check_login_url(xhr);
                    if (data['status'] == 'ok') {
                        // if creation success append html with new tag link to div
                        $('#tagslist').append('<p><a href="#" onclick="tagFunctionCliked(' + data['id'] +')" data-action="add" id="tag' +
                                data['id'] + '">' + new_tag_name + '</a></p>');
                        $('#your-own-category').val('');
                    }
                }
            );
        }

        // Function to react on keyup event

        // Sent AJAX request on keyup event
        // TODO: Recreate to follow DRY
        $('#name_search_filter').keyup(function () {
            filterPostBody.name = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#min_cost_filter').keyup(function () {
            filterPostBody.min_cost = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#max_cost_filter').keyup(function () {
            filterPostBody.max_cost = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#location_filter').keyup(function () {
            filterPostBody.location = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#slider-popup-1').on('afterChange', function (event, slick, currentSlide) {
            filterPostBody.deal = $(slick.$slides.get(currentSlide)).data('deal');
            sendFilterAjaxPost(filterPostBody);
        });

        $('#slider-popup-2').on('afterChange', function (event, slick, currentSlide) {
            filterPostBody.state = $(slick.$slides.get(currentSlide)).data('state');
            sendFilterAjaxPost(filterPostBody);
        });

        $('#slider-popup-3').on('afterChange', function (event, slick, currentSlide) {
            filterPostBody.delivery_form = $(slick.$slides.get(currentSlide)).data('delivery');
            sendFilterAjaxPost(filterPostBody);
        });

        $('#cooperation_filter').keyup(function () {
            filterPostBody.cooperation = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#trade_mark_filter').keyup(function () {
            filterPostBody.trade_mark = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#model_filter').keyup(function () {
            filterPostBody.model = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#material_filter').keyup(function () {
            filterPostBody.material = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#size_filter').keyup(function () {
            filterPostBody.size = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#color_filter').keyup(function () {
            filterPostBody.color = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#weight_filter').keyup(function () {
            filterPostBody.weight = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#equipment_filter').keyup(function () {
            filterPostBody.equipment = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });

        $('#vendor_filter').keyup(function () {
            filterPostBody.vendor = $(this).val();
            sendFilterAjaxPost(filterPostBody);
        });
    
        function redirectToFilterResults() {
            var recursiveEncoded = $.param(filterPostBody);
            // var recursiveDecoded = decodeURIComponent( $.param(filterPostBody));
            var filter_url = '{% url "goods:search" %}' + "?filter=1&" + recursiveEncoded;
            window.location = filter_url;
        }

    </script>
{% endblock %}