{% load thumbnail %}
{% load i18n %}
<div id="category" class="middle-block">
    <a href="#">
        <p class="salesmen">{% trans 'Sellers in this category' %}</p>
    </a>
    <ul>
        {% for seller in sellers %}
            <li class="clearfix">
                <div class="consult">
                    <a href="{{ seller.get_absolute_url }}"><p class="username">{{ seller.user.username }}</p></a>
                    <a href="{{ seller.get_absolute_url }}"><p class="gray">{{ seller.user.username }}</p></a>
                </div>
                <div class="images-profile">
                    <a href="{{ seller.get_absolute_url }}">
                        {% thumbnail seller.avatar "37x37" as avatar %}
                            <img src="{{ avatar.url }}">
                        {% endthumbnail %}
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="more">
        <p class="more-link"><a href="{% url 'accounts:user_search' %}">{% trans 'More' %}</a></p>
    </div>
</div>