{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load main_tags %}
{% block title %}{% trans 'Logged out' %}{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/account/reset.css' %}" type="text/css" media="all">
		<link rel="stylesheet" href="{% static 'css/account/styles.css' %}" type="text/css" media="all">
    <!--[if IE]>
	    <link rel="stylesheet" href="css/styleIE.css" type="text/css" media="all">
	    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
{% endblock %}
{% block content %}
	<!--<h2 class="content__heading"><a href="{% url 'accounts:registration' %}">{% trans 'Logged out' %}</a></h2>-->
	<h3 id="logged_f_fix" class="content__heading">You have been successfully logged out.</h3>
	<h3 id="logged_s_fix" class="content__subheading">You can <a href="{% url 'accounts:login' %}">log-in again</a>.</h3>
			<p>{% trans 'Or you can sign in via' %}</p>
			<ul id="social" class="content__social social">
				<li class="social__item">
					<a href="{% url 'social:begin' 'vk-oauth2' %}" class="social__link">
						<i class="fa fa-vk" aria-hidden="true"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="{% url 'social:begin' 'facebook' %}" class="social__link">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="{% url 'social:begin' 'pinterest' %}" class="social__link">
						<i class="fa fa-pinterest" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
			<div class="content__links links">
        <a href="#" class="links__item links__item--left">{% trans 'More than a 1000 items' %}</a>
        <a href="#" class="links__item links__item--right">
					{% blocktrans %}
            Register in <span>45</span> seconds!
          {% endblocktrans %}
				</a>
      </div>
		</div>
	</div>
{% endblock %}
