@font-face {
  font-family: "Pragmatica_Regular";
  src: url("../fonts/Pragmatica_Regular/Pragmatica Regular.ttf") format("truetype");
}

html,
body,
#wrapper,
.main { height: 100%; }

body {
  font-size: 10px;
  font-family: Arial, sans-serif;
  background-size: contain;
}

a { 
  text-decoration: none;
  color: #000;
}

#wrapper { width: 100%; }

.orange {  }

.green {  }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #636363;
}

.main__content--wrapper {
  width: 450px;
  height: 450px;
  padding: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.content {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  padding: 73px;
}

.form__input {
  width: 100%;
  height: 100%;
  padding-left: 8px;
  text-align: center;
  background-color: #dfdfdf;
  color: #000;
  outline: none;
  border: none;
  margin-bottom:5px;
}

.content__heading {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.4em;
  margin-bottom: 12px;
  text-align: center;
}

.confirm{
  margin-top:30%;
}

.content__heading--center { text-align: center; }

.content__subheading {
  font-weight: bold;
  font-size: 1.6em;
  margin: 12px 0 2px 0;
}

.form__holder { 
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 19px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 6px;
}

.form__input--btn {
  background-image: url('/static/images/account/input_square.png');
  width: 23px;
  height: 21px;
  cursor: pointer;
}

.form__input--square {
  width: 21px;
  height: 21px;
  border: 3px solid #dfdfdf;
  cursor: pointer;
  padding: 2px;
}

.form__input--squareInner {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #dfdfdf;
}

.form__desc {
  text-align: center;
  font-size: 1em;
  margin-bottom: 11px;
  height:15px;
  padding-top:4px;
}

.form__confirmation .form__desc { margin-bottom: 0; }

.form__confirmation {
  width: 106%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.form__checkbox { display: none; }

.form__checkbox + label {
  height: 23px;
  width: 23px;
  display: inline-block;
  padding: 0 0 0 0px;
  border: 2px solid #e9e8e8;
  margin-right: 5px;
  cursor: pointer;
}

.form__checkbox:checked + label {
   height: 23px;
   width: 23px;
   display:inline-block;
   padding: 0 0 0 0px;
   border: 2px solid #e9e8e8;
}

.green .form__checkbox:checked + label { background:url('/static/images/account/checkbox_green.png') 50% no-repeat; }

.orange .form__checkbox:checked + label { background:url('/static/images/account/checkbox_orange.png') 50% no-repeat; }

::-webkit-input-placeholder {color:#919395;}

::-moz-placeholder          {color:#919395;}

:-moz-placeholder           {color:#919395;}

:-ms-input-placeholder      {color:#919395;}

.form__btn {
  display: block;
  margin: 0 auto;
}

.form__btn--submit {
  width: 144px;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 4px;
  border:0;
}

.orange .form__btn--submit {
  background-color: #ff6600;
}

.green .form__btn--submit {
  background-color: #a6eb1e;
}

.hidden { display: none; }

.invisible { visibility: hidden; }