{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load main_tags %}
{% block title %}{% trans 'Reset email was sent' %}{% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/registration/reset.css' %}" type="text/css" media="all">
  	<link rel="stylesheet" href="{% static 'css/registration/styles.css' %}" type="text/css" media="all">
    <!--[if IE]>
	    <link rel="stylesheet" href="css/styleIE.css" type="text/css" media="all">
	    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
{% endblock %}
{% block content %}
{% blocktrans %}
	<div id="infobox">
		<h3 class="content__subheading">We've mailed you instructions for setting your password.</h3>
   <h3 class="content__subheading">
     If you don't receive an email, please make sure you've entered the address you registered with.
   </h3>
</div>
   
{% endblocktrans %}
{% endblock %}