{% extends 'registration/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load main_tags %}
{% block title %}{% trans 'Set up your password' %}{% endblock %}
{% block scripts %}

{% endblock %}
{% block content %}
	<h2 class="content__heading"><a href="{% url 'accounts:registration' %}">{% trans 'Set your password' %}</a></h2>
    {% if messages %}
       {% for message in messages %}
            {{ message }}
       {% endfor %}
    {% endif %}
<form id="reg-form" action="{% url 'accounts:reset_password' %}" method="post" class="content__form form">
		<div class="form__holder">
    		{{ form.password1|add_placeholder_to_field:'PASSWORD'|add_class_to_formfield:'form__input' }}
		</div>
		<p class="form__desc form__desc--email">{{ form.password1.errors.as_text }}</p>
		<div class="form__holder">
    		{{ form.password2|add_placeholder_to_field:'CONFIRM'|add_class_to_formfield:'form__input' }}
		</div>
		<p class="form__desc form__desc--email">{{ form.password2.errors.as_text }}</p>
 	  {% csrf_token %}
	  <input type="submit" value="{% trans 'Set password' %}" class="form__btn form__btn--submit">
</form>
{% endblock %}