{% extends 'basis.html' %}
{% load staticfiles %}
{% load i18n %}
{% load main_tags %}
{% load thumbnail %}
{% load accounts_tags %}
{% load goods_tags %}
{% load cart_tags %}

{% block title %}{{ request.user.username }}{% endblock %}

{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile/profile.css' %}">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/profile/cropit.js' %}"></script>
<script src="{% static 'js/profile/blocksit.js' %}"></script>
<script src="{% static 'js/profile/jquery.raty-fa.js' %}"></script>
<script src="{% static 'js/profile/profile.js' %}"></script>
{% endblock %}

{% block content %}
		<div class="sixteen wide column padless">
        <div class="imageCover" {% if request.user.pk == profile.user.pk %}id="imageCover"{% endif %}>
            {% if profile.cover %}
            <img src="{{ profile.cover.url }}" width="960px" height="222px">
            {% else %}
            <h3 class="image-holder-title">{{ profile.user.username }}</h3>
            {% endif %}
        </div>
        <div class="retailer-logo-wrapper">
            <div class="avatarImageDiv" {% if request.user.pk == profile.user.pk %}id="avatarImageDiv"{% endif %}>
							{% if profile.avatar %}
                <img src="{{ profile.avatar.url }}" width="90px" height="90px" class="circular">
							{% endif %}
            </div>
        </div>
    </div>
    <div class="sixteen wide center aligned column padless">
        <h3 id="username">{{ profile.user.username }}</h3>
    </div>
    <div class="sixteen wide center aligned column padless">
        <h4 id="online_status">{{ profile.get_status_display }}</h4>
    </div>
		{% if profile.description %}
    <div class="sixteen wide center aligned column">
			<p id="description">{{ profile.description }}</p>
    </div>
		{% endif %}
    <div class="sixteen wide center aligned column">
        <h4>{% trans 'Contacts' %}</h4>
    </div>
    <div id="retailer-location" class="sixteen wide center aligned column padless"></div>
    <div class="sixteen wide center aligned column padless">
        <div class="ui segment grid">
            <div class="five wide center aligned column">
                <h4>{% trans 'Address' %}</h4>
                <div class="copy"> {{ profile.get_country_display }}, {{ profile.city }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>Skype</h4>
                <div class="copy">{{ profile.skype }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>{% trans 'Is an' %}</h4>
                <div class="copy">{{ profile.get_org_form_display }}</div>
            </div>
            
            <div class="five wide center aligned column">
                <h4>{% trans 'Contact phone' %}</h4>
                <div class="copy">{{ profile.phone }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>E-MAIL</h4>
                <div class="copy">{{ profile.user.email }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>{% trans 'sex' %}</h4>
                <div class="copy">{{ profile.get_sex_display }}</div>
            </div>
            
            <div class="five wide center aligned column">
                <h4>{% trans 'Additional phone' %}</h4>
                <div class="copy">{{ profile.additional_phone }}</div>
            </div>
            <div class="six wide center aligned column">
                <h4>Web-site</h4>
                <div class="copy">{{ profile.site }}</div>
            </div>
            <div class="five wide center aligned column">
                <h4>Instagram</h4>
                <div class="copy">{{ profile.instagram }}</div>
            </div>
        </div>
    </div>
    <div id="statistics" class="ui grid">
        <div class="sixteen wide center aligned column padless">
        <table class="ui basic fixed table">
            <tbody>
            <tr>
                <td class="center aligned">
                    <div class="ui statistics">
                        <div class="statistic">
                            <div class="value">
                                <div class="primary-ranking" id="avgMark">{{ average_mark }}</div>
                                <div id="user_current_rate" data-rating="{{ average_mark|safe }}"></div>
                            </div>
                            
                            <div class="label">
                                {% trans 'total marks' %} {{ profile.get_total_about_marks }}
                            </div>
                        </div>
                    </div>
                </td>
                <td id="rate_scale" class="collapsing right aligned">
										<div class="rating" data-rating="5"></div>
                    <div class="rating" data-rating="4"></div>
                    <div class="rating" data-rating="3"></div>
                    <div class="rating" data-rating="2"></div>
                    <div class="rating" data-rating="1"></div>
                    <!--<div class="ui small rating disabled" data-max-rating="5" data-rating="5"></div><br>
                    <div class="ui small rating disabled" data-max-rating="5" data-rating="4"></div><br>
                    <div class="ui small rating disabled" data-max-rating="5" data-rating="3"></div><br>
                    <div class="ui small rating disabled" data-max-rating="5" data-rating="2"></div><br>
                    <div class="ui small rating disabled" data-max-rating="5" data-rating="1"></div>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-first-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img"><br>
                    <img src="{% static 'images/user_page/vertical-star.png' %}" class="marker-img">-->
                </td>
                <td class="left aligned">
                    <div id="gChart"></div>
                </td>
                <td class="center aligned">
                    <table id="user_stat" class="ui fixed celled table">
                        <tbody>
                            <tr>
                                <td class="center aligned">
                                    <p class="counts">{{ profile.get_lots_count }}</p>
                                    <p>lot{{ profile.get_lots_count|pluralize }}</p>
                                </td>
                                <td class="center aligned">
                                    <p class="counts">{{ profile.get_subscribers_count }}</p>
                                    <p>followers</p>
                                </td>
                                <td class="center aligned">
                                    <p class="counts">{{ profile.get_subscription_count }}</p>
                                    <p>following</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
										{% if request.user.pk != profile.user.pk %}
										<div id="user_menu" class="ui compact icon menu">
                        <a class="item">
                            <i class="mail outline icon"></i>
                        </a>
                        <a class="item">
                            <i class="empty star icon"></i>
                        </a>
                        <a id="complaint_send" class="item">
                            <i class="frown icon"></i>
                        </a>
                    </div>
										{% endif %}
                </td>
            </tr>
            </tbody>
        </table>
						{% if request.user.pk != profile.user.pk %}
            <button class="ui small basic button olive fixed_button" id="followLink" data-id="{{ profile.user.pk }}" data-action="{% if profile.user in request.user.subscribers.users.all  %}remove{% else %}add{% endif %}">
                FOLLOW
            </button>
						{% endif %}
        </div>
    </div>
		<div id="reviews" class="ui grid">
			<div class="sixteen wide left aligned column" id="rating_section">
				<div class="ui divider"></div>
        	<div class="ui comments">
            <!--________________________________________________________________REVIEWS SECTION____________________________________________________-->
              	{% for review in about_reviews %}
								<div class="comment">
                    <div class="avatar">
												{% if review.author.profile.avatar %}
                        <img src="{{ review.author.profile.avatar.url }}"></img>
												{% else %}
												<img src="https://www.bicyclenetwork.com.au/media/vanilla_content/images/Around%20the%20Bay/2017/blank_male_avatar-2.jpeg"></img>
												{% endif %}
                    </div>
                    <div class="content">
                        <a href="{{ review.author.profile.get_absolute_url }}" class="author">
                            {{ review.author.username }} <!--<div class="ui small rating disabled" data-max-rating="5" data-rating="{{ review.mark|floatformat:'0' }}"></div>-->
                        </a>
												<div class="rev_rating" data-rating="{{ review.mark|safe }}"></div>
                        <div class="text">
                            {{ review.text|linebreaksbr }}
                        </div>
                    </div>
                </div>
								{% empty %}
									<h2>{% trans 'No reviews yet.' %}</h2>
                {% endfor %} 
            <!--____________________________________________________________END REVIEWS SECTION____________________________________________________-->
						</div>
        </div>
				<div class="sixteen wide center aligned column padless">
					{% if request.user.is_authenticated %}
                {% if request.user != profile.user %}
                    {% if request.user.pk in all_to_user_sold_orders %}{% endif %}
											<button class="ui small basic button olive fixed_button" id="write_review_button">{% trans 'write review' %}</button>   
                {% endif %}
            {% endif %}
				</div>
				<div class="sixteen wide center aligned column padless">
					<div class="ui divider"></div>
				</div>
		</div>
		<div class="sixteen wide center aligned column">
        <button id="revtoggle" class="ui basic olive button fixed_button">{% trans 'Reviews' %}</button>
    </div>
    <!--<div id="rev_pointer" class="sixteen wide center aligned column">
				<h4 id="revtoggle" class="headline">{% trans 'Reviews' %}</h4>
        <h6>PUSH REVIEWS TO OPEN</h6>
    </div>-->
    <div class="sixteen wide center aligned column">
        <img id="lottoggle" src="../static/images/user_page/infinity-symbol.png">
    </div>
    <div id="wrapper-tabs" class="sixteen wide column">
        <div class="ui segment">
            <div class="sumssd"></div>
            <div id="sort-min">
                <table class="ui very basic fixed table">
                    <tbody>
                        <tr id="sortbys">
                            <td class="center aligned copy">
                                <i id="sort-price-up" class="angle up icon" data-sortby="priceUp"></i>
                                <span>price</span>
                                <i id="sort-price-down" class="angle down icon" data-sortby="priceDown"></i>
                            </td>
                            <td class="center aligned copy">
                                {{ profile.get_lots_count }} lot{{ profile.get_lots_count|pluralize }}
                            </td>
                            <td class="center aligned copy">
                                <i id="sort-data-up" class="angle up icon" data-sortby="dateUp"></i>
                                <span>date</span>
                                <i id="sort-data-down" class="angle down icon" data-sortby="dateDown"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="ui divider"></div>
            </div>
            <div id="user_lots">
						<!--_______________________________________________________________USER'S LOTS___________________________________________________________-->
							{% with goods=user_goods %}
                    {% include "good_ajax.html" %}
                {% endwith %}
            <!--_______________________________________________________________END OF USER'S LOTS____________________________________________________-->
            </div>
        </div>
    </div>
    <div class="sixteen wide center aligned column">
        <img src="../static/images/user_page/interesting-ribbon.png">
        <h4 class="title">Intresting goods</h4>
    </div>
    <div class="sixteen wide column">
        <div id="interesting-goods-section">
            <div class="ui segment">
                <div class="ui six cards">
										<!--___________________________________________________________INTERESTING GOODS____________________________________________-->
										{% for good in goods_with_max_likes %}
                        <div class="ui card">
			                	<a href="{{ good.get_absolute_url }}"></a>
		                    <!--<div class="image">
                                {% show_good_image good 100 93 'interesting-goods-img' %}
                            </div>-->
                            <a href="{{ good.get_absolute_url }}" class="image">
                                <div class="img" style="background-image:url('/media/{{ good.get_first_image.image }}');"></div>
                            </a>
                            <div class="content">
                                <div class="price_block">
                                    <div class="header">{{ good.title }}</div>
                                    <p class="interesting-goods-price">{{ good.get_good_price_by_deal }}</p>
                                </div>
                                <a href="{{ good.get_absolute_url }}" class="ui fluid small olive basic button">{% trans 'Buy' %}</a>
                            </div>
                            <div class="content bottom">
                                {% if good.user.profile.avatar %}
                                    <img class="ui avatar image left floated meta" src="/media/{{ good.user.profile.avatar }}">
                                {% else %}
																		<img class="ui avatar image left floated meta" src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-31-512.png">
																{% endif %}
																		<div class="overflow_check">
                                    		<a class="user_link" href="{{ good.user.profile.get_absolute_url }}">{{ good.user.username }}</a>
																		</div>
                            </div>
                        </div>
                    {% empty %}
                        {% trans 'No goods found' %}
                    {% endfor %}
                    <!--_______________________________________________________END INTERESTING GOODS____________________________________________-->
                </div>
            </div>
        </div>
    </div>
    <!--_____________________________________________________________MODALS____________________________________________________________________-->
    <div id="img-load-module" class="ui small modal">
        <div class="header">Upload image</div>
        <div class="content">
            <div class="ui grid">
                <div class="sixteen wide center aligned column">
                    <img src="../static/images/user_page/upload-popup-img1.png"><br>
                    <p class="copy">Take photo from the device</p>
                </div>
                <div id="bannerLoad" class="sixteen wide center aligned column">
                    <img src="../static/images/user_page/upload-popup-img2.png">
                    <p class="copy">Upload from the device</p>
                </div>
                <div id="avaLoad" class="sixteen wide center aligned column">
                    <img src="../static/images/user_page/upload-popup-img2.png">
                    <p class="copy">Upload from the device</p>
                </div>
                <!--<div class="seven wide center aligned column"></div>
                <div class="two wide center aligned column">
                    <a class="ui basic small grey fluid button">X</a>
                </div>
                <div class="seven wide center aligned column"></div>-->
            </div>
        </div>
    </div>
    <div id="upload-custom-banner-popup" class="ui small modal">
        <div class="header">{% trans 'Upload image' %}</div>
        <div class="content">
            <div id="bannerLoadContainer">
                <input id="bannerFile" type="file" class="cropit-image-input" />
                <div id="loadFile" class="ui miny grey basic button">Select new image</div>
                <div class="cropit-preview"></div>
                <input type="range" class="cropit-image-zoom-input" />
            </div>
        </div>
        <div class="action ui grid">
            <div class="seven wide column"></div>
            <div class="two wide center aligned column">
                <button class="ui small olive fluid button" id="btnBannerLoad">OK</button>
                <button class="ui small grey basic fluid button" id="clsBannerLoad">CANCEL</button>
            </div>
            <div class="seven wide column"></div>
        </div>
    </div>
    <div id="upload-custom-logo-popup" class="ui small modal">
        <div class="header">{% trans 'Upload image' %}</div>
        <div class="content">
            <div id="avatarLoadContainer">
                <input id="avatarFile" type="file" class="cropit-image-input" />
                <div id="loadAvFile" class="ui miny grey basic button">Select new image</div>
                <div class="cropit-preview"></div>
                <input type="range" class="cropit-image-zoom-input" />
            </div>
        </div>
        <div class="action ui grid">
            <div class="seven wide column"></div>
            <div class="two wide center aligned column">
                <button class="ui small olive fluid button" id="btnAvatarLoad">OK</button>
                <button class="ui small grey basic fluid button" id="clsAvatarLoad">CANCEL</button>
            </div>
            <div class="seven wide column"></div>
        </div>
    </div>
    <div id="complaint-popup" class="ui small modal">
        <div class="header">{% trans 'Complain' %}</div>
        <div class="content">
            <div class="ui grid">
                <div class="sixteen wide column center aligned padless" id="complaint_reason">
                    <h3 class="headline">{% trans 'Reason' %}</h3>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason1" value="{{ OWNER_IMPERSONATE }}">
                        <label for="reason1">{% trans 'Owner profile is impersonating another' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason2" value="{{ FRAUD }}">
                        <label for="reason2">{% trans 'Fraud' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason3" value="{{ SPAM }}">
                        <label for="reason3">{% trans 'Spam' %}</label>
                    </div>
                    <div class="radiocust olive">
                        <input type="radio" name="complaint-reason" id="reason4" value="{{ ADVERTISE }}">
                        <label for="reason4">{% trans 'Advertising page clog up search' %}</label>
                    </div>
                    <div class="ui divider"></div>
                </div>
                <div class="sixteen wide column center aligned padless">
                    <h3 class="headline">{% trans 'Comment' %}</h3>
                    <textarea rows="7" id="textComplaint"></textarea>
                    <div class="ui divider"></div>
                </div>
                <div class="sixteen wide column center aligned padless">
                    {% if profile.user in request.user.my_blocklist.users.all %}
                        <h3 class="headline" id="block-user" data-block="unblock">{% trans 'Unblock' %}</h3>
                    {% else %}
                        <h3 class="headline" id="block-user" data-block="block">{% trans 'Block' %}</h3>
                    {% endif %}
                    <div class="block-user-module" id="block-user-module">
                        <div class="radiocust olive">
                            <input type="radio" id="confirm-block-n" name="blockUser" value="0">
                            <label for="confirm-block-n">{% trans 'No, cancel' %}</label>
                        </div>
                        <div class="radiocust olive">
                            <input type="radio" id="confirm-block-y" name="blockUser" value="1">
                            <label for="confirm-block-y">{% trans 'Yes, confirm' %}</label>
                        </div>
                    </div>
                    <p class="subheadline">*{% trans 'I do not want to this account could send me messages' %}</p>
                    <div class="ui divider"></div>
                    <input id="user_id" type="hidden" value="{{ profile.user.pk }}">
                </div>
                <div id="complaint_submit" class="sixteen wide column center aligned padless">
                    <a class="ui small olive button" id="okComplaint">OK</a>
                    <br>
                    <a id="closeComplaint" class="ui small grey basic button">X</a>
                </div>
            </div>
        </div>
    </div>
    <div id="reviews-popup-wrapper" class="ui modal">
        <div class="header">{% trans 'Review' %}</div>
        <div class="content">
					<div class="ui grid">
						<div class="sixteen wide column center aligned padless">
            	<h3 class="headline">{% trans 'Your mark' %}</h3>
            	<div class="primary-stars clearfix">
								<input type="hidden" value="{{ profile.user.pk }}" id="profid"/>
								<div id="rateReview"></div>
                <div class="rateit bigstars" data-rateit-starwidth="23" data-rateit-starheight="22" data-rateit-resetable="false"  data-rateit-ispreset="true" ></div>
            	</div>
							<div class="ui divider"></div>
						</div>
						<div class="sixteen wide column center aligned padless">
            	<textarea rows="7" id="textReview"></textarea>
							<div class="ui divider"></div>
						</div>
						<div class="sixteen wide column center aligned padless">
            	<button class="ui small basic button olive fixed_button" id="okReview">OK</button><br><br>
            	<button class="ui small grey basic button fixed_button" id="close_write_review">X</button>
						</div>
					</div>
        </div>
    </div>
    <!-- Google chart -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.arrayToDataTable([
                ['Mark', 'Count', {role: 'style'}],
                ['5', {{ five_count }}, '#329846'],
                ['4', {{ four_count }}, '#b1fe00'],
                ['3', {{ three_count }}, '#f5ee31'],
                ['2', {{ two_count }}, '#ff6600'],
                ['1', {{ one_count }}, '#ef4036']
            ]);
            // Set chart options: disable grid, start line, legend, annotation
            var options = {
                width: 200,
                height: 175,
                chartArea: {width: '100%', height: '100%', left:0,top:0,},
                annotations: {
                    stem: {
                        color: 'transparent'
                    }
                },
                hAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    textPosition: 'none',
                    baseline: 0,
                    baselineColor: 'none',
                    ticks: []
                },
                vAxis: {
                    gridlines: {
                        color: 'transparent'
                    },
                    textPosition: 'none',
                    baseline: 0,
                    baselineColor: 'none',
                    ticks: []
                },
                backgroundColor: {
                    stroke: 'transparent'
                },
                legend: {position: 'none'}
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.BarChart(document.getElementById('gChart'));
            chart.draw(data, options);
        }
    </script>
    <script>
        // Google geocoding api. Code user addreess to geo coordinates and initialize map
        var geocoder;
        var map;
        function initialize () {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(55.75, 37.61);
            var mapOptions = {
                zoom: 8,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('retailer-location'), mapOptions);
        }
        
        function codeAddress () {
            // Set address by user profile information and geocode it
            var address = '{{ profile.get_country_display }}, {% if profile.city %}{{ profile.city }} {% endif %}';
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    console.log("Geocode was not successful for the following reason: " + status);
                }
            })
        }

        window.onload = function () {
            initialize();
            codeAddress();
        };
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp0ANx34jzCP9DVsGtejZZJeSoHgSx-K4&callback=initialize"></script>
{% endblock %}